
<table id="game-info-table" class="table table-bordered table-hover">
    <thead>
        <tr>
            <td>Player</td>
            <td>Moves</td>
            <td>Rock</td>
            <td>Paper</td>
            <td>Scissors</td>                        
            <td>Score</td>
            <td>%</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Player</td>
            <td id="player-moves">0</td>
            <td id="player-rock-count">0</td>
            <td id="player-paper-count">0</td>
            <td id="player-scissors-count">0</td>
            <td id="player-score">0</td>
            <td id="player-score-percentage">0%</td>
        </tr>
        <tr>
            <td>Computer</td>
            <td id="computer-moves">0</td>
            <td id="computer-rock-count">0</td>
            <td id="computer-paper-count">0</td>
            <td id="computer-scissors-count">0</td>
            <td id="computer-score">0</td>
            <td id="computer-score-percentage">0%</td>
        </tr>
    </tbody>
</table>