

<div class="container-fluid" id="container">
    <section id="controls" class="span8">
        <button class="btn btn-large btn-info" data-weapon="rock">rock</button>
        <button class="btn btn-large btn-warning" data-weapon="paper">paper</button>
        <button class="btn btn-large btn-danger" data-weapon="scissors">scissors</button>
    </div>
    
    <ul id="history" class="well">
        <li id="placeholder">Press one of the buttons above to begin.</li>
    </ul>
</div>